<p>Bonjour, voici la liste des absents du jour :</p>

<% group = nil %>
<ul>
<% @absents_du_jour.each do |absent| %>
  <% unless group==absent.physical_group.title %>
    <% group=absent.physical_group.title %>
    </ul>
    <h2><%= group %></h2>
    <ul>
  <% end %>
  <li><%= absent.student.name %></li>
<% end %>
</ul>
<% if @absents_du_jour.count==0 %>
  <p><b>Aucun absent aujourd'hui !</b></p>
<% end %>
<p>Message envoyé automatiquement depuis le logiciel Ayana.</p>
