<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="control-group">
  	  <div class="field input-group">
  			<span class="input-group-addon" title="Prénom et nom de l'usager"><i class="fa fa-user fa-fw"></i></span>
        <%= f.text_field :first_name, class: "control-group", placeholder: "Prénom" %>
        <%= f.text_field :last_name, class: "control-group", placeholder: "Nom" %>
      </div>
  	</div>
    <div class="control-group">
  	  <div class="field input-group">
  			<span class="input-group-addon" title="Date de naissance"><i class="fa fa-calendar fa-fw"></i></span>
        <%= f.text_field :birth_date, class: "control-group", placeholder: "Date de naissance", value: @student.birth_date ? @student.birth_date.strftime("%d/%m/%Y") : "" %>
      </div>
    </div>

    <% unless @student.id %>
      <div class="control-group">
    	  <div class="field input-group">
    			<span class="input-group-addon" title="Groupe administratif"><i class="fa fa-university fa-fw"></i></span>
          <%= f.select(:administrative_group_id, [], {}, {class: "form-control"}) do %>
      			<% @administrative_groups.each do |group| %>
      				<%= content_tag(:option, group.title, value: group.id, selected: (group.id==@student[:administrative_group_id])) %>
      			<% end %>
      		<% end %>
        </div>
      </div>
      <div class="control-group">
    	  <div class="field input-group">
    			<span class="input-group-addon" title="Groupe physique"><i class="fa fa-group fa-fw"></i></span>
          <%= f.select(:physical_group_id, [], {}, {class: "form-control"}) do %>
      			<% @physical_groups.each do |group| %>
      				<%= content_tag(:option, group.title, value: group.id, selected: (group.id==@student[:physical_group_id])) %>
      			<% end %>
      		<% end %>
        </div>
      </div>
      <div class="control-group">
    			<div class="field input-group">
    				<span class="input-group-addon" title="Date d'entrée"><i class="fa fa-calendar fa-fw"></i></span>
            <%= f.date_field :date_in, class: "form-control", placeholder: "Date de naissance", value: Date.today.strftime("%d/%m/%Y") %>
          </div>
      </div>
    <% end %>

    <div class="control-group">
  	  <div class="field input-group">
  			<span class="input-group-addon" title="Pensionnaire"><i class="fa fa-bed fa-fw"></i></span>
        <div class="form-control">
          <%= f.label :roomer do %>
            <%= f.check_box :roomer %>
            Pensionnaire
          <% end %>
        </div>
      </div>
    </div>

    <div class="control-group">
  	  <div class="field input-group">
  			<span class="input-group-addon" title="Sexe"><i class="fa fa-venus-mars fa-fw"></i></span>
        <%= f.select(:sex, [], {}, class: "form-control") do %>
          <%= content_tag(:option, "", value: nil) %>
          <%= content_tag(:option, "Femme", value: "F", selected: (@student.sex=="F")) %>
          <%= content_tag(:option, "Homme", value: "M", selected: (@student.sex=="M")) %>
        <% end %>
      </div>
  	</div>

    <div class="control-group">
  	  <div class="field input-group">
  			<span class="input-group-addon" title="Taux de présence prévu"><b>%</b></span>
        <%= f.text_field :coef, class: "form-control", placeholder: "Taux de présence prévu (taux par défaut si vide)" %>
      </div>
  	</div>

    <div class="control-group">
  	  <div class="field input-group">
  			<span class="input-group-addon" title="Numéro de sécurité sociale"><i class="fa fa-credit-card fa-fw"></i></span>
        <%= f.text_field :secu_number, class: "form-control", placeholder: "Numéro de sécurité sociale" %>
      </div>
  	</div>
  </div>
  <div class="col-md-11">
    <div class="control-group">
  	  <div class="field input-group">
  			<span class="input-group-addon" title="Caisse de sécurité sociale"><i class="fa fa-stethoscope fa-fw"></i></span>
        <%= f.select(:caisse_id, [], {}, class: "form-control") do %>
          <%= content_tag(:option, "", value: nil) %>
          <% Caisse.order(:title).each do |caisse| %>
            <%= content_tag(:option, caisse.title, value: caisse.id, selected: (@student.caisse_id==caisse.id)) %>
          <% end %>
        <% end %>
      </div>
    </div>
	</div>
  <div class="col-md-1">
    <%= link_to new_caiss_path(student: @student.id), title: "Ajouter une nouvelle caisse", class: "form-control" do %>
      <i class="fa fa-pencil fa-fw"></i>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit t('Validate'), :class => 'btn btn-primary' %> ou
    <%= link_to 'Retour', :back %>
  </div>
<% end %>
