<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1>Liste des usagers</h1>
</div>

<div id="toolbar1">
  <%= link_to t('New Student'), new_student_path, class: "btn btn-primary" %>
</div>

<table id="table1"
  data-toolbar="#toolbar1"
  data-search="true"
  data-show-columns="true"
  data-show-export="true"
  data-show-pagination-switch="true"
  data-pagination="true"
  data-page-list="[10, 25, 50, 100, ALL]"
  data-show-footer="false"
  data-toggle="table">
  <thead>
    <tr>
      <th data-align="left" data-valign="middle">Nom et prénom</th>
      <th data-align="center" data-valign="middle">Sexe</th>
      <th data-align="center" data-valign="middle">Date de naissance</th>
      <th data-align="center" data-valign="middle">age</th>
      <th data-field="operate" data-align="center">Groupe physique</th>
      <th data-align="center">Groupe administratif</th>
      <th data-align="center">Pensionnaire</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student %></td>
        <% if student.sex=="M" %>
          <td><i class="fa fa-mars fa-fw"></i></td>
        <% elsif student.sex=="F" %>
          <td><i class="fa fa-venus fa-fw"></i></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= student.birth_date ? student.birth_date.strftime("%d/%m/%Y") : "" %></td>
        <td><%= student.birth_date ? student.age : "" %></td>
        <td><%= link_to student.physical_group.title, student.physical_group %></td>
        <td><%= link_to student.administrative_group.title, student.administrative_group %></td>
        <% if student.roomer %>
          <td><i class="fa fa-bed fa-fw"></i></td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
