<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1><%= @student.name %></h1>
</div>

<div class="col-md-6">
  <%= image_tag "student.png", class: "img-responsive", align: "right"  %>
</div>
<div class="col-md-6">
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Date de naissance"><i class="fa fa-calendar fa-fw"></i></span>
      <div class="control-paragraph"><%= @student.birth_date ? @student.birth_date.strftime("%d/%m/%Y") : "" %></div>
    </div>
	</div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Age"><i class="fa fa-birthday-cake fa-fw"></i></span>
      <div class="control-paragraph"><%= @student.age %> ans</div>
    </div>
	</div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Groupe administratif"><i class="fa fa-university fa-fw"></i></span>
      <% last_group = @student.last_administrative_group %>
      <div class="control-paragraph"><%= link_to last_group.administrative_group.title, last_group.administrative_group if last_group %>
        <span class="grey">depuis le <%= last_group.date_in.strftime("%d/%m/%Y") if last_group %></span>
        <%= link_to new_history_administrative_group_path(student: @student.id), title: "Changer de groupe administratif" do %>
          <i class="fa fa-pencil fa-fw"></i>
        <% end %>
      </div>
    </div>
	</div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Groupe physique"><i class="fa fa-group fa-fw"></i></span>
      <% last_group = @student.last_physical_group %>
      <div class="control-paragraph"><%= link_to last_group.physical_group.title, last_group.physical_group if last_group %>
        <span class="grey">depuis le <%= last_group.date_in.strftime("%d/%m/%Y") if last_group%></span>
        <%= link_to new_history_physical_group_path(student: @student.id), title: "Changer de groupe physique" do %>
          <i class="fa fa-pencil fa-fw"></i>
        <% end %>
      </div>
    </div>
	</div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Pensionnaire"><i class="fa fa-bed fa-fw"></i></span>
      <div class="control-paragraph"><%= @student.roomer ? "oui" : "non" %></div>
    </div>
	</div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Sexe"><i class="fa fa-venus-mars fa-fw"></i></span>
      <div class="control-paragraph"><%= sex(@student.sex) %></div>
    </div>
	</div>
  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon" title="Taux de présence prévu"><b>%</b></span>
      <div class="control-paragraph"><span class="<%= @student.coef ? '' : 'grey' %>"><%= @student.coef ? @student.coef : "Taux par défaut" %></span></div>
    </div>
  </div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Numéro de sécurité sociale"><i class="fa fa-credit-card fa-fw"></i></span>
      <div class="control-paragraph"><%= @student.secu_number %></div>
    </div>
	</div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Caisse de sécurité sociale"><i class="fa fa-stethoscope fa-fw"></i></span>
      <div class="control-paragraph"><%= @student.caisse.title if @student.caisse %></div>
    </div>
	</div>
  <br/>
  <div>
    <%= link_to t('Edit'), edit_student_path(@student), class: 'btn btn-primary' %>
  </div>
</div>

<% if @absences_injustifiees.count>0 %>
  <div class="col-md-12">
    <div class="cadre_bleu">
      <h2>Absences à justifier</h2>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Groupe</th>
          <th>Matin</th>
          <th>Après-midi</th>
          <th>Soir</th>
        </tr>
      </thead>

      <tbody>
        <% @absences_injustifiees.each do |absence| %>
          <tr onclick="window.document.location='/absences/'+<%= absence.id %>+'/edit';">
            <td><%= absence.date.strftime("%d/%m/%Y") %></td>
            <td><%= absence.physical_group.title %></td>
            <td><%= absence.morning ? "X" : "" %></td>
            <td><%= absence.afternoon ? "X" : "" %></td>
            <td><%= absence.night ? "X" : "" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
