<p id="notice"><%= notice %></p>

<h1>Listing History Administrative Groups</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Student</th>
      <th>Administrative group</th>
      <th>Date in</th>
      <th>Date out</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @history_administrative_groups.each do |history_administrative_group| %>
      <tr>
        <td><%= history_administrative_group.student.name %></td>
        <td><%= history_administrative_group.administrative_group.title %></td>
        <td><%= history_administrative_group.date_in.strftime("%d/%m/%Y") if history_administrative_group.date_in %></td>
        <td><%= history_administrative_group.date_out.strftime("%d/%m/%Y") if history_administrative_group.date_out %></td>
        <td><%= link_to 'Show', history_administrative_group %></td>
        <td><%= link_to 'Edit', edit_history_administrative_group_path(history_administrative_group) %></td>
        <td><%= link_to 'Destroy', history_administrative_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New History administrative group', new_history_administrative_group_path %>
