<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @history_administrative_group.student %>
</p>

<p>
  <strong>Administrative group:</strong>
  <%= @history_administrative_group.administrative_group %>
</p>

<p>
  <strong>Date in:</strong>
  <%= @history_administrative_group.date_in %>
</p>

<p>
  <strong>Date out:</strong>
  <%= @history_administrative_group.date_out %>
</p>

<%= link_to 'Edit', edit_history_administrative_group_path(@history_administrative_group) %> |
<%= link_to 'Back', history_administrative_groups_path %>
