<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1>Liste des utilisateurs</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Last login at</th>
      <th>Current login at</th>
      <th>Current login ip</th>
      <th>Last login ip</th>
      <th>Login count</th>
      <th>Last request at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.last_login_at %></td>
        <td><%= user.current_login_at %></td>
        <td><%= user.current_login_ip %></td>
        <td><%= user.last_login_ip %></td>
        <td><%= user.login_count %></td>
        <td><%= user.last_request_at %></td>
        <td>
          <%= link_to edit_user_path(user) do %>
            <i class="fa fa-pencil fa-fw"></i>
          <% end %>
        </td>
        <td>
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvel utilisateur', new_user_path, class: "btn btn-primary" %>
