<%= form_for(@group_coefficient) do |f| %>
  <% if @group_coefficient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_coefficient.errors.count, "error") %> prohibited this group_coefficient from being saved:</h2>

      <ul>
      <% @group_coefficient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
			<div class="field input-group">
				<span class="input-group-addon" title="Année"><i class="fa fa-calendar fa-fw"></i></span>
        <%= f.number_field :year, class: "form-control" %>
      </div>
  </div>
  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon" title="Groupe administratif"><i class="fa fa-university fa-fw"></i></span>
      <%= f.select(:administrative_group_id, [], {}, {class: "form-control"}) do %>
        <% @administrative_groups.each do |group| %>
          <%= content_tag(:option, group.title, value: group.id, selected: (group.id==@group_coefficient[:administrative_group_id])) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :coefficient %><br>
    <%= f.text_field :coefficient %>
  </div>
  <div class="actions">
    <%= f.submit "Valider", class: "btn btn-primary" %>
  </div>
<% end %>
