<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1>Liste des coefficients</h1>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Year</th>
      <th>Administratif group</th>
      <th>Coefficient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_coefficients.each do |group_coefficient| %>
      <tr>
        <td><%= group_coefficient.year %></td>
        <td><%= group_coefficient.administrative_group.title %></td>
        <td><%= group_coefficient.coefficient %></td>
        <td><%= link_to 'Show', group_coefficient %></td>
        <td><%= link_to 'Edit', edit_group_coefficient_path(group_coefficient) %></td>
        <td><%= link_to 'Destroy', group_coefficient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau coefficient', new_group_coefficient_path, class: "btn btn-primary" %>
