<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @group_coefficient.year %>
</p>

<p>
  <strong>Administratif group:</strong>
  <%= @group_coefficient.administrative_group.title %>
</p>

<p>
  <strong>Coefficient:</strong>
  <%= @group_coefficient.coefficient %>
</p>

<%= link_to 'Edit', edit_group_coefficient_path(@group_coefficient) %> |
<%= link_to 'Back', group_coefficients_path %>
