<%= form_for(@history_physical_group) do |f| %>
  <% if @history_physical_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@history_physical_group.errors.count, "error") %> prohibited this history_physical_group from being saved:</h2>

      <ul>
      <% @history_physical_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" hidden>
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id, readonly: true %>
  </div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Nouveau groupe physique"><i class="fa fa-group fa-fw"></i></span>
      <%= f.select(:physical_group_id, [], {}, {class: "form-control"}) do %>
  			<% @physical_groups.each do |group| %>
  				<%= content_tag(:option, group.title, value: group.id, selected: (group.id==@student[:physical_group_id])) %>
  			<% end %>
  		<% end %>
    </div>
  </div>
  <div class="control-group">
			<div class="field input-group">
				<span class="input-group-addon" title="Date d'entrée"><i class="fa fa-calendar fa-fw"></i></span>
        <%= f.date_field :date_in, class: "form-control", value: @history_physical_group.date_in.strftime("%d/%m/%Y") %>
      </div>
  </div>

  <div class="actions">
    <%= f.submit "Valider", class: "btn btn-primary" %> ou
    <%= link_to 'Annuler', :back %>
  </div>
<% end %>
