<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1>Historique des groupes physiques</h1>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Student</th>
      <th>Physical group</th>
      <th>Date in</th>
      <th>Date out</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @history_physical_groups.each do |history_physical_group| %>
      <tr>
        <td><%= history_physical_group.student.name %></td>
        <td><%= history_physical_group.physical_group.title %></td>
        <td><%= history_physical_group.date_in.strftime("%d/%m/%Y") if history_physical_group.date_in %></td>
        <td><%= history_physical_group.date_out.strftime("%d/%m/%Y") if history_physical_group.date_out %></td>
        <td><%= link_to 'Show', history_physical_group %></td>
        <td><%= link_to 'Edit', edit_history_physical_group_path(history_physical_group) %></td>
        <td><%= link_to 'Destroy', history_physical_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New History physical group', new_history_physical_group_path %>
