<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @history_physical_group.student %>
</p>

<p>
  <strong>Physical group:</strong>
  <%= @history_physical_group.physical_group %>
</p>

<p>
  <strong>Date in:</strong>
  <%= @history_physical_group.date_in %>
</p>

<p>
  <strong>Date out:</strong>
  <%= @history_physical_group.date_out %>
</p>

<%= link_to 'Edit', edit_history_physical_group_path(@history_physical_group) %> |
<%= link_to 'Back', history_physical_groups_path %>
