<%= form_for(@reason) do |f| %>
  <% if @reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reason.errors.count, "error") %> prohibited this reason from being saved:</h2>

      <ul>
      <% @reason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Titre" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon" title="Pensionnaire"><%= f.check_box :absence %></i></span>
      <div class="form-control">
        <%= f.label :absence do %>
          Considéré comme une absence ?
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Valider", class: "btn btn-primary"%>
  </div>
<% end %>
