<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reason.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reason.description %>
</p>

<%= link_to 'Edit', edit_reason_path(@reason) %> |
<%= link_to 'Back', reasons_path %>
