<%= form_for(@open_day, class: "form-horizontal") do |f| %>
  <% if @open_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@open_day.errors.count, "error") %> prohibited this open_day from being saved:</h2>

      <ul>
      <% @open_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.number_field :year, readonly: true, hidden: true %>
  </div>
  <div class="form-group">
    <%= f.label :jan, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :jan %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :feb, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :feb %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mar, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :mar %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :apr, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :apr %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :may, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :may %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :jun, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :jun %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :jul, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :jul %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :aug, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :aug %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sep, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :sep %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :oct, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :oct %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nov, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :nov %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dec, class: "col-sm-2 control-label" %><br>
    <div class="col-sm-10">
      <%= f.number_field :dec %>
    </div>
  </div>
  <br/><br/>
  <div class="actions">
    <%= f.submit "Valider", class: "btn btn-primary" %> ou
    <%= link_to "Annuler", :back %>
  </div>
<% end %>
