<p id="notice"><%= notice %></p>

<h1>Listing Open Days</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Jan</th>
      <th>Fev</th>
      <th>Mar</th>
      <th>Avr</th>
      <th>Mai</th>
      <th>Jun</th>
      <th>Jul</th>
      <th>Aou</th>
      <th>Sep</th>
      <th>Oct</th>
      <th>Nov</th>
      <th>Dec</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @open_days.each do |open_day| %>
      <tr>
        <td><%= open_day.year %></td>
        <td><%= open_day.jan %></td>
        <td><%= open_day.feb %></td>
        <td><%= open_day.mar %></td>
        <td><%= open_day.apr %></td>
        <td><%= open_day.may %></td>
        <td><%= open_day.jun %></td>
        <td><%= open_day.jul %></td>
        <td><%= open_day.aug %></td>
        <td><%= open_day.sep %></td>
        <td><%= open_day.oct %></td>
        <td><%= open_day.nov %></td>
        <td><%= open_day.dec %></td>
        <td><%= link_to 'Show', open_day %></td>
        <td><%= link_to 'Edit', edit_open_day_path(open_day) %></td>
        <td><%= link_to 'Destroy', open_day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Open day', new_open_day_path %>
