<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @open_day.year %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @open_day.jan %>
</p>

<p>
  <strong>Fev:</strong>
  <%= @open_day.feb %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @open_day.mar %>
</p>

<p>
  <strong>Avr:</strong>
  <%= @open_day.apr %>
</p>

<p>
  <strong>Mai:</strong>
  <%= @open_day.may %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @open_day.jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @open_day.jul %>
</p>

<p>
  <strong>Aou:</strong>
  <%= @open_day.aug %>
</p>

<p>
  <strong>Sep:</strong>
  <%= @open_day.sep %>
</p>

<p>
  <strong>Oct:</strong>
  <%= @open_day.oct %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @open_day.nov %>
</p>

<p>
  <strong>Dec:</strong>
  <%= @open_day.dec %>
</p>

<%= link_to 'Edit', edit_open_day_path(@open_day) %> |
<%= link_to 'Back', open_days_path %>
