<%= form_for(@caiss) do |f| %>
  <% if @caiss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caiss.errors.count, "error") %> prohibited this caiss from being saved:</h2>

      <ul>
      <% @caiss.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Titre" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div hidden>
    <%= text_field_tag "student_id", @student_id  %>
  </div>
  <div class="actions">
    <%= f.submit "Valider", class: "btn btn-primary" %>
    ou <%= link_to 'Retour', :back %>
  </div>
<% end %>
