<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @caiss.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @caiss.description %>
</p>

<%= link_to 'Edit', edit_caiss_path(@caiss) %> |
<%= link_to 'Back', caisses_path %>
