<%= form_for(@absence) do |f| %>
  <% if @absence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@absence.errors.count, "error") %> prohibited this absence from being saved:</h2>

      <ul>
      <% @absence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group" >

	</div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Nom de l'usager"><i class="fa fa-user fa-fw"></i></span>
      <%= f.select(:student_id, [], {}, class: "form-control", readonly: true) do %>
        <% Student.order(:last_name, :first_name).each do |student| %>
          <%= content_tag(:option, student.name, value: student.id, selected: (student.id==@absence.student_id)) %>
        <% end %>
  		<% end %>
		</div>
	</div>
  <div class="control-group">
	  <div class="field input-group">
      <span class="input-group-addon" title="Groupe administratif"><i class="fa fa-university fa-fw"></i></i></span>
      <%= f.select(:administrative_group_id, [], {}, class: "form-control", readonly: true) do %>
        <% AdministrativeGroup.order(:title).each do |group| %>
          <%= content_tag(:option, group.title, value: group.id, selected: (@absence.student ? @absence.student.administrative_group_id==group.id : false)) %>
        <% end %>
  		<% end %>
    </div>
	</div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Groupe physique"><i class="fa fa-group fa-fw"></i></span>
      <%= f.select(:physical_group_id, [], {}, class: "form-control", readonly: true) do %>
        <% PhysicalGroup.order(:title).each do |group| %>
          <%= content_tag(:option, group.title, value: group.id, selected: (@absence.student ? @absence.student.physical_group_id==group.id : false)) %>
        <% end %>
  		<% end %>
    </div>
	</div>
  <div class="control-group">
			<div class="field input-group">
				<span class="input-group-addon" title="Date"><i class="fa fa-calendar fa-fw"></i></span>
        <%= f.date_field :date, class: "form-control", value: @absence.date.strftime("%d/%m/%Y"), readonly: true %>
      </div>
  </div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Moment de la journée"><i class="fa fa-clock-o fa-fw"></i></span>
      <div class="form-control">
        <%= f.label :morning do %>
          <%= f.check_box :morning %>
          Matin
        <% end %>
        <%= f.label :afternoon do %>
          <%= f.check_box :afternoon %>
          Après-midi
        <% end %>
        <% if @student and @student.roomer %>
          <%= f.label :night do %>
            <%= f.check_box :night %>
            Nuit
          <% end %>
        <% end %>
      </div>
    </div>
	</div>
  <div class="control-group">
	  <div class="field input-group">
			<span class="input-group-addon" title="Raison de l'absence"><i class="fa fa-pencil fa-fw"></i></span>
      <%= f.select(:reason_id, [], {}, {class: "form-control"}) do %>
        <% @reasons.each do |reason| %>
          <%= content_tag(:option, reason.description, value: reason.id, selected: (@absence.reason_id==reason.id)) %>
        <% end %>
  		<% end %>
    </div>
	</div>
  <div class="actions">
    <%= f.submit "Valider l'absence", :class => 'btn btn-primary', :id => "absence_validate"%>
    ou
    <%= link_to 'Annuler', :back %>
  </div>
<% end %>
