<p id="notice"><%= notice %></p>

<h1>Listing Absences</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Student</th>
      <th>Physicalgroup</th>
      <th>Administrativegroup</th>
      <th>Date</th>
      <th>AM</th>
      <th>PM</th>
      <th>N</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @absences.each do |absence| %>
      <tr>
        <td><%= absence.student.name %></td>
        <td><%= absence.physical_group.title %></td>
        <td><%= absence.administrative_group.title %></td>
        <td><%= absence.date %></td>
        <td><%= absence.morning %></td>
        <td><%= absence.afternoon %></td>
        <td><%= absence.night %></td>
        <td><%= absence.reason.description %></td>
        <td><%= link_to 'Show', absence %></td>
        <td><%= link_to 'Edit', edit_absence_path(absence) %></td>
        <td><%= link_to 'Destroy', absence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Absence', new_absence_path %>
