<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @absence.student.name %>
</p>

<p>
  <strong>Physicalgroup:</strong>
  <%= @absence.physical_group.title %>
</p>

<p>
  <strong>Administrativegroup:</strong>
  <%= @absence.administrative_group.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @absence.date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @absence.hour %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @absence.reason.description %>
</p>

<%= link_to 'Edit', edit_absence_path(@absence) %> |
<%= link_to 'Back', absences_path %>
