<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1>A propos</h1>
</div>

<p>Ayana est un logiciel de gestion de présence/absence</p>

<p>Développeur : Jean-Noël ROUCHON - Mithril Informatique</p>

<p>Licence : GPLv3</p>
