// Place all the styles related to the AdministrativeGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-larger {
     overflow-x: scroll;
}

.cell-mini {
  font-size: 0.7em;
  vertical-align: middle;
}
