/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap";
@import "bootstrap-table";
@import "bootstrap-editable";
@import "*";

body {
  background-color: #8a8a8;
}

h2 {
  font-size: 1.8em;
}

 /* Profile container */
 .profile {
   margin: 20px 0;
 }

 /* Profile sidebar */
 .profile-sidebar {
   padding: 20px 0 10px 0;
   background: #fff;
   margin-bottom: 10px;
 }

 .profile-userpic img {
   float: none;
   margin: 0 auto;
   width: 50%;
   height: 50%;
   -webkit-border-radius: 50% !important;
   -moz-border-radius: 50% !important;
   border-radius: 50% !important;
 }

 .logo img {
   float: none;
   margin: 0 auto;
   width: 50%;
   height: 50%;
 }

 .profile-usertitle {
   text-align: center;
   margin-top: 20px;
 }

 .profile-usertitle-name {
   color: #5a7391;
   font-size: 16px;
   font-weight: 600;
   margin-bottom: 7px;
 }

 .profile-usertitle-job {
   text-transform: uppercase;
   color: #5b9bd1;
   font-size: 12px;
   font-weight: 600;
   margin-bottom: 15px;
 }

 .profile-userbuttons {
   text-align: center;
   margin-top: 10px;
 }

 .profile-userbuttons .btn {
   text-transform: uppercase;
   font-size: 11px;
   font-weight: 600;
   padding: 6px 15px;
   margin-right: 5px;
 }

 .profile-userbuttons .btn:last-child {
   margin-right: 0px;
 }

 .profile-usermenu {
   margin-top: 30px;
 }

 .profile-usermenu ul li {
   border-bottom: 1px solid #f0f4f7;
 }

 .profile-usermenu ul li:last-child {
   border-bottom: none;
 }

 .profile-usermenu ul li a {
   color: #93a3b5;
   font-size: 16px;
   font-weight: 400;
 }

 .profile-usermenu ul li a i {
   margin-right: 8px;
   font-size: 18px;
 }

 .profile-usermenu ul li a:hover {
   background-color: #fafcfd;
   color: #5b9bd1;
 }

 .profile-usermenu ul li.active {
   border-bottom: none;
 }

 .profile-usermenu ul li.active a {
   color: #5b9bd1;
   background-color: #f6f9fb;
   border-left: 2px solid #5b9bd1;
   margin-left: -2px;
 }

 /* Profile Content */
 .profile-content {
   padding: 20px;
   background: #fff;
 }

 .btn.btn-primary {
 	text-transform: uppercase;
 	font-size: 11px;
   font-weight: 600;
   padding: 6px 15px;
   margin-right: 5px;
   color: white;
 }

 .btn.btn-warning, .btn.btn-info, .btn.btn-danger, .btn.btn-success {
 	text-transform: uppercase;
 	font-size: 11px;
   font-weight: 600;
   padding: 6px 15px;
   margin-right: 5px;
   color: white;
 }

 .btn.btn-default {
 	text-transform: uppercase;
 	font-size: 11px;
   font-weight: 600;
   padding: 6px 15px;
   margin-right: 5px;
   color: #666;
 }

 .btn.btn-xs.btn-danger {
 	color: white;
 }

 .titre_actif {
 	 color: #5b9bd1;
   background-color: #f6f9fb;
   padding: 6px;
   border-bottom: 2px solid #5b9bd1;
   margin-bottom: 15px;
   text-align: center;
   text-transform: uppercase;
 }

 .sous_titre {
 	color: #5b9bd1;
 	text-align: center;
 }

 .well2 {
 	background-color: #f6f9fb;
 	border-radius: 10px;
 	border: 2px solid #5b9bd1;
 	margin: 5px;
 	padding: 10px;
 }

 .cadre_bleu {
 	 color: #5b9bd1;
   margin-bottom: 15px;
   padding-top: 10px;
 }

 .bloc_bleu {
 	color: #5b9bd1;
   background-color: #f6f9fb;
   padding: 6px;
   border-bottom: 2px solid #5b9bd1;
   border-top: 2px solid #5b9bd1;
   margin-bottom: 15px;
 }

 .container_ligne {
 	position: relative;
 }

 .ligne_travaux {
 	margin-right: 45px;
 }

 .image_ronde {
 	width: 50px;
 	height: 50px;
 	border-radius: 25px;
 	-webkit-border-radius: 25px;
 	-moz-border-radius: 25px;
 	border: 2px solid #e1e1e1;
 	transition: all .5s linear;
 }

.control-paragraph {
  width: 100%;
  border-radius: 2px;
 	-webkit-border-radius: 2px;
 	-moz-border-radius: 2px;
 	border: 1px solid #c1c1c1;
  height: 30px;
  padding: 5px;
}

.grey {
  color: #c1c1c1;
}
