// Place all the styles related to the PhysicalGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-usermenu-horizontal {
}

.profile-usermenu-horizontal ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.profile-usermenu-horizontal ul li {
  border-bottom: 1px solid #f0f4f7;
  padding-bottom: 4px;
  display: inline;
}

.profile-usermenu-horizontal ul li a {
  color: #93a3b5;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding: .2em 1em;
}

.profile-usermenu-horizontal ul li a i {
  margin-right: 8px;
  font-size: 18px;
}

.profile-usermenu-horizontal ul li a:hover {
  background-color: #f6f9fb;
  color: #5b9bd1;
}

.profile-usermenu-horizontal ul li.active {
  border-bottom: none;
}

.profile-usermenu-horizontal ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-bottom: 2px solid #5b9bd1;
  margin-bottom: -2px;
}
