<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1>Groupes administratifs</h1>
</div>

<div class="profile-usermenu-horizontal">
  <ul>
    <li class="<%= (request.original_fullpath=="/administrative_groups" ? 'active' : '') %>">
      <a href="/administrative_groups">
      <i class="fa fa-university"></i>
      Groupes</a>
    </li>
    <li class="<%= (request.original_fullpath.include?("/administrative_groups/stats")  ? 'active' : '') %>">
      <a href="/administrative_groups/stats">
      <i class="fa fa-line-chart"></i>
      Statistiques </a>
    </li>
  </ul>
</div>
