<div class="titre_actif">
  <h1>Absents du jour</h1>
</div>

<p id="notice"><%= notice %></p>

<div id="toolbar1">
  <%= link_to "Envoyer la liste par mail", "/today_email", class: "btn btn-primary" %>
</div>

<table id="table1"
  data-toolbar="#toolbar1"
  data-search="true"
  data-show-columns="true"
  data-show-export="true"
  data-show-pagination-switch="true"
  data-pagination="true"
  data-page-list="[10, 25, 50, 100, ALL]"
  data-show-footer="false"
  data-toggle="table">
  <thead>
    <tr>
      <th data-align="left" data-valign="middle">Nom et prénom</th>
      <th data-align="center" data-valign="middle">Groupe administratif</th>
      <th data-align="center" data-valign="middle">Groupe physique</th>
    </tr>
  </thead>
  <tbody>
    <% @absents_du_jour.each do |absence| %>
      <tr>
        <td><%= link_to absence.student.name, absence.student %></td>
        <td><%= absence.administrative_group.title %></td>
        <td><%= absence.physical_group.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
