<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1>Cahier d'appel</h1>
</div>

<div class="field input-group">
	<span class="input-group-addon"><a href="/?group=<%= @group.id %>;date=<%= @date-1 %>"><i class="fa fa-arrow-left fa-fw"></i></a></span>
	<p align="center" class="form-control"><%= I18n.localize(@date, format: "%A %-d %B %Y") %></p>
	<span class="input-group-addon"><a href="/?group=<%= @group.id %>;date=<%= @date+1 %>"><i class="fa fa-arrow-right fa-fw"></i></a></span>
</div>

<div class="control-group">
	<div class="field input-group">
		<span class="input-group-addon" title="Groupe physique"><i class="fa fa-group fa-fw"></i></span>
		<%= select_tag "physical_group", options_from_collection_for_select(@physical_groups, "id", "title", @group.id), id: "physical_group", class: "form-control", onchange: "window.document.location='/?date=#{@date.strftime('%Y-%m-%d')};group='+document.getElementById('physical_group').value" %>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
			  <th></th>
			  <th>Matin</th>
			  <th>Après-midi</th>
			  <th>Nuit</th>
			</tr>
		</thead>
		<tbody>
			<% @students.each do |student| %>
			  <tr>
			    <td class="first"><%= link_to student.name, student_path(student) %></td>
					<% if absence=@absences.where(student_id: student.id, morning: true).first %>
						<td><a href="/absences/<%= absence.id %>/edit" title="<%= absence.reason.description %>"><%= absence.reason.title %></a></td>
					<% else %>
						<td><a href="/absences/new?student_id=<%= student.id %>;date=<%= @date %>;hour=AM">*</a></td>
					<% end %>
					<% if absence=@absences.where(student_id: student.id, afternoon: true).first %>
						<td><a href="/absences/<%= absence.id %>/edit" title="<%= absence.reason.description %>"><%= absence.reason.title %></a></td>
					<% else %>
			    	<td><a href="/absences/new?student_id=<%= student.id %>;date=<%= @date %>;hour=PM">*</a></td>
					<% end %>
					<% if student.roomer %>
						<% if absence=@absences.where(student_id: student.id, night: true).first %>
							<td><a href="/absences/<%= absence.id %>/edit" title="<%= absence.reason.description %>"><%= absence.reason.title %></a></td>
						<% else %>
				    	<td><a href="/absences/new?student_id=<%= student.id %>;date=<%= @date %>;hour=N">*</a></td>
						<% end %>
					<% else %>
						<td></td>
					<% end %>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>
