<p id="notice"><%= notice %></p>

<div class="login">
<%= form_for @user_session, url: user_sessions_path, method: :post, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon" title="Date de début"><i class="fa fa-envelope-o fa-fw"></i></span>
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
  </div>
  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon" title="Date de début"><i class="fa fa-key fa-fw"></i></span>
      <%= f.password_field :password, class: "form-control", placeholder: "Mot de passe" %>
    </div>
  </div>
  <div class="profile-userbuttons">
    <%= f.submit 'Se connecter', class: 'btn btn-primary' %>
  </div>
  <br/>
<% end %>
</div>
