<%= form_for(@physical_group) do |f| %>
  <% if @physical_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physical_group.errors.count, "error") %> prohibited this physical_group from being saved:</h2>

      <ul>
      <% @physical_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon" title="Titre"><i class="fa fa-pencil fa-fw"></i></span>
      <%= f.text_field :title, class:"form-control" %>
    </div>
  </div>
  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon" title="Description"><i class="fa fa-pencil-square-o fa-fw"></i></span>
      <%= f.text_area :description, class:"form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Valider", class: "btn btn-primary" %> ou
    <%= link_to 'Annuler', :back %>
  </div>
<% end %>
