<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1><%= @physical_group.title %></h1>
</div>

<div class="profile-usermenu-horizontal">
  <ul>
    <li class="<%= (request.original_fullpath=="/physical_groups/#{@physical_group.id}" ? 'active' : '') %>">
      <a href="/physical_groups/<%=@physical_group.id%>">
      <i class="fa fa-user"></i>
      Usagers</a>
    </li>
    <li class="<%= (request.original_fullpath.include?("/physical_groups/#{@physical_group.id}/absences")  ? 'active' : '') %>">
      <a href="/physical_groups/<%=@physical_group.id%>/absences">
      <i class="fa fa-calendar-check-o"></i>
      Absences </a>
    </li>
  </ul>
</div>
