<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1>Groupes physiques</h1>
</div>

<div class="profile-usermenu-horizontal">
  <ul>
    <li class="<%= (request.original_fullpath=="/physical_groups" ? 'active' : '') %>">
      <a href="/physical_groups">
      <i class="fa fa-group"></i>
      Groupes</a>
    </li>
    <li class="<%= (request.original_fullpath.include?("/physical_groups/stats")  ? 'active' : '') %>">
      <a href="/physical_groups/stats">
      <i class="fa fa-line-chart"></i>
      Statistiques </a>
    </li>
  </ul>
</div>
