<%= render 'header' %>

<div class="cadre_bleu">
  <h2>Absences :</h2>
</div>

<div class="field input-group">
	<span class="input-group-addon">
    <%= link_to "/physical_groups/#{@physical_group.id}/absences/?year=#{@year-1}" do %>
      <i class="fa fa-arrow-left fa-fw"></i>
    <% end %>
  </span>
	<p align="center" class="form-control"><%= @year %></p>
	<% if @year<Date.today.year %>
    <span class="input-group-addon">
      <%= link_to "/physical_groups/#{@physical_group.id}/absences/?year=#{@year+1}" do %>
        <i class="fa fa-arrow-right fa-fw"></i>
      <% end %>
    </span>
	<% end %>
</div>

<table id="table1"
  data-toolbar="#toolbar1"
  data-search="true"
  data-show-columns="true"
  data-show-export="true"
  data-show-pagination-switch="true"
  data-pagination="true"
  data-page-list="[10, 25, 50, 100, ALL]"
  data-show-footer="false"
  data-toggle="table">
  <thead>
    <tr>
      <th data-align="left" data-valign="middle">Usager</th>
      <% month_array_min.each do |month| %>
        <th data-align="center" data-valign="middle"><%= month %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student %></td>
        <% (1..12).to_a.each do |month| %>
          <% nb_absences = student.absences_by_month(month, @year, nil, @physical_group.id) %>
          <% if nb_absences>0 %>
            <td><b><%= nb_absences %></b></td>
          <% else %>
            <td>-</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pie_chart @absences %>
