<%= render "header0" %>

<div class="cadre_bleu">
  <h2>Groupes :</h2>
</div>

<div id="toolbar1">
  <%= link_to 'Créer un nouveau groupe', new_physical_group_path, class: "btn btn-primary" %>
</div>

<table id="table1"
  data-toolbar="#toolbar1"
  data-search="true"
  data-show-columns="true"
  data-show-export="true"
  data-show-pagination-switch="true"
  data-pagination="true"
  data-page-list="[10, 25, 50, 100, ALL]"
  data-show-footer="false"
  data-toggle="table">
  <thead>
    <tr>
      <th data-align="left" data-valign="middle">Sigle</th>
      <th data-align="center" data-valign="middle">Description</th>
      <th data-align="center" data-valign="middle">Nombre d'usagers</th>
    </tr>
  </thead>
  <tbody>
    <% @physical_groups.each do |physical_group| %>
      <tr>
        <td><%= link_to physical_group.title, physical_group %></td>
        <td><%= physical_group.description %></td>
        <td><%= physical_group.number_of_students %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="cadre_bleu">
  <h2> Nombre d'usagers :</h2>
</div>

<%= column_chart @graph_nb_eleve %>
