<%= render "header0" %>

<br/><br/>

<div class="field input-group">
	<span class="input-group-addon">
    <%= link_to "/administrative_groups/parameters?year=#{@year-1}" do %>
      <i class="fa fa-arrow-left fa-fw"></i>
    <% end %>
  </span>
	<p align="center" class="form-control"><%= @year %></p>
	<% if @year<Date.today.year %>
    <span class="input-group-addon">
      <%= link_to "/administrative_groups/parameters?year=#{@year+1}" do %>
        <i class="fa fa-arrow-right fa-fw"></i>
      <% end %>
    </span>
	<% end %>
</div>

<div class="cadre_bleu">
  <h2>Nombre de jours ouvrés :</h2>
</div>

<div class="table-responsive table-larger">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= @year %></th>
        <% month_array_min.each do |month| %>
          <th><%= month %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to "modifier", @open_days ? edit_open_day_path(@open_days) : new_open_day_path(year: @year), class: "btn btn-primary btn-xs" %></td>
        <% month_array_min_english.each do |month| %>
          <td><%= @open_days ? @open_days[month] : "-" %></td>
        <% end %>
      </tr>

    </tbody>
  </table>
</div>
