<%= render 'header' %>

<div class="cadre_bleu">
  <h2>Usagers :</h2>
</div>

<div id="toolbar1">
  <%= link_to 'Ajouter un usager', new_student_path(physical_group: @physical_group.id), class: "btn btn-primary" %>
</div>

<table id="table1"
  data-toolbar="#toolbar1"
  data-search="true"
  data-show-columns="true"
  data-show-export="true"
  data-show-pagination-switch="true"
  data-pagination="true"
  data-page-list="[10, 25, 50, 100, ALL]"
  data-show-footer="false"
  data-toggle="table">
  <thead>
    <tr>
      <th data-align="left" data-valign="middle">Nom et Prénom</th>
      <th data-align="center" data-valign="middle">Date de naissance</th>
      <th data-align="center" data-valign="middle">Age</th>
      <th data-align="center" data-valign="middle">Date d'entrée</th>
      <th data-align="center" data-valign="middle">Pensionnaire</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student %></td>
        <td><%= student.birth_date.strftime("%d/%m/%Y") if student.birth_date %></td>
        <td><%= student.age %></td>
        <td><%= student.last_physical_group.date_in.strftime("%d/%m/%Y") %></td>
        <% if student.roomer %>
          <td><i class="fa fa-bed fa-fw"></i></td>
        <% else %>
          <td>-</td>
        <% end %>
        <td>
          <%= link_to edit_student_path(student) do %>
            <i class="fa fa-pencil fa-fw"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="cadre_bleu">
  <h2>Tranche d'âge des usagers :</h2>
</div>

<%= column_chart @graph_age %>
