<%= render "header0" %>

<div class="cadre_bleu">
  <h2>Statistiques :</h2>
</div>

<div class="field input-group">
	<span class="input-group-addon">
    <%= link_to "/physical_groups/stats?year=#{@year-1}" do %>
      <i class="fa fa-arrow-left fa-fw"></i>
    <% end %>
  </span>
	<p align="center" class="form-control"><%= @year %></p>
	<% if @year<Date.today.year %>
    <span class="input-group-addon">
      <%= link_to "/physical_groups/stats?year=#{@year+1}" do %>
        <i class="fa fa-arrow-right fa-fw"></i>
      <% end %>
    </span>
	<% end %>
</div>

<div>
  <table id="table1"
    data-toolbar="#toolbar1"
    data-search="true"
    data-show-columns="false"
    data-show-export="true"
    data-show-pagination-switch="false"
    data-pagination="false"
    data-page-list="[10, 25, 50, 100, ALL]"
    data-show-footer="false"
    data-toggle="table">
    <thead>
      <tr>
        <th><%= @year %></th>
        <% month_array.each do |month| %>
          <th colspan="3"><%= month %></th>
        <% end %>
        <th class="cell-mini">TOTAL</th>
        <th class="cell-mini">Journées ou actes à réaliser</th>
        <th class="cell-mini">Différentiel</th>
      </tr>
      <tr>
        <th class="cell-mini">
          Nb jours ouv/mois
          <%= link_to @nb_open_days ? edit_open_day_path(@nb_open_days) : new_open_day_path(year: @year) do %>
            <i class="fa fa-pencil fa-2x"></i>
          <% end %>
        </th>
        <% month_array_min_english.each do |month| %>
          <th colspan="3" class="cell-mini">
            <%= @nb_open_days ? @nb_open_days[month] : "-" %>
          </th>
        <% end %>
      </tr>
      <tr>
        <th class="cell-mini">Nb jours</th>
        <% month_array_min.each do |month| %>
          <th class="cell-mini">réalisés</th>
          <th class="cell-mini">prévus</th>
          <th class="cell-mini">écart</th>
        <% end %>
        <th>-</th>
        <th>-</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
      <% totaux_month = {"realises" => {}, "prevus" => {}} %>
      <% @physical_groups.each do |group| %>
        <tr>
          <td colspan="2"><%= group.title %></td>
          <% totaux = {} %>
          <% (1..12).to_a.each do |month| %>
            <% nb_open_days = @nb_open_days ? @nb_open_days[month_array_min_english[month-1]] : 0 %>
            <% date = Date.parse("#{@year}-#{month}-01")+1.month-1.day %>
            <% nb_max = group.nb_students_at(date)*nb_open_days %>
            <% nb_prevue = group.nb_jours_prevus(date).round(0) %>
            <% nb_realisee = (nb_max - group.nb_absences_at(month, @year)).round(0) %>
            <% totaux["realises"] = totaux["realises"].to_i + nb_realisee %>
            <% totaux["prevus"] = totaux["prevus"].to_i + nb_prevue %>
            <% totaux_month["realises"][month] = totaux_month["realises"][month].to_i + nb_realisee %>
            <% totaux_month["realises"]["global"] = totaux_month["realises"]["global"].to_i + nb_realisee %>
            <% totaux_month["prevus"][month] = totaux_month["prevus"][month].to_i + nb_prevue %>
            <% totaux_month["prevus"]["global"] = totaux_month["prevus"]["global"].to_i + nb_prevue %>
            <% if (Date.parse("#{@year}-#{month}-1")+1.month-1.day) > Date.today %>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            <% else %>
              <td>
                <%= @nb_open_days ? nb_realisee : "-" %>
              </td>
              <td>
                <%= @nb_open_days ? nb_prevue : "-" %>
              </td>
              <td>
                <%= @nb_open_days ? nb_realisee - nb_prevue : "-" %>
              </td>
            <% end %>
          <% end %>
          <td><%= totaux["realises"] %></td>
          <td><%= totaux["prevus"] %></td>
          <td><%= totaux["realises"] - totaux["prevus"] %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2">Total journées</td>
        <% (1..12).to_a.each do |month| %>
          <td><%= totaux_month["realises"][month]%></td>
          <td><%= totaux_month["prevus"][month]%></td>
          <td><%= totaux_month["realises"][month].to_i - totaux_month["prevus"][month].to_i %></td>
        <% end %>
        <td><%= totaux_month["realises"]["global"]%></td>
        <td><%= totaux_month["prevus"]["global"]%></td>
        <td><%= totaux_month["realises"]["global"].to_i - totaux_month["prevus"]["global"].to_i %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= column_chart @graph %>
