<!DOCTYPE html>
<html>
<head>
  <title>Ayana</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//canvg.googlecode.com/svn/trunk/canvg.js", "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row profile">
  		<div class="col-md-3">
  			<div class="profile-sidebar">
					<!-- SIDEBAR USERPIC -->
					<div class="logo">
					  <%= image_tag "ayana.png", class: "img-responsive" %>
					</div>
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->


  				<!-- END SIDEBAR BUTTONS -->
  				<!-- SIDEBAR MENU -->
          <% if current_user %>
  					<!-- SIDEBAR USER TITLE -->
  					<div class="profile-usertitle">
  						<div class="profile-usertitle-name">
  							<%= current_user.name %>
  						</div>
  					</div>
  					<!-- END SIDEBAR USER TITLE -->
  					<!-- SIDEBAR BUTTONS -->
  					<div class="profile-userbuttons">
  						<%= link_to 'Profil', edit_user_path(current_user.id), class: "btn btn-primary btn-sm" %>
  						<%= link_to 'Quitter', '/logout', class: "btn btn-danger btn-sm" %>
  					</div>
            <br/>
  				<% end %>

  				<div class="profile-usermenu">
  					<ul class="nav">
              <li class="<%= (request.original_fullpath.include?('/students') ? 'active' : '') %>">
  							<a href="/students">
  							<i class="fa fa-user"></i>
  							Usagers</a>
  						</li>
  						<li class="<%= (request.original_fullpath.include?('/administrative_groups') ? 'active' : '') %>">
  							<a href="/administrative_groups">
  							<i class="fa fa-university"></i>
  							Groupes administratifs</a>
  						</li>
              <li class="<%= (request.original_fullpath.include?('/physical_groups') ? 'active' : '') %>">
  							<a href="/physical_groups">
  							<i class="fa fa-group"></i>
  							Groupes physiques</a>
  						</li>
  						<li class="<%= ((request.original_fullpath=='/' or request.original_fullpath.start_with?('/?'))  ? 'active' : '') %>">
  							<a href="/">
  							<i class="fa fa-calendar-check-o"></i>
  							Cahier d'appel </a>
  						</li>
              <li class="<%= (request.original_fullpath=='/today' ? 'active' : '') %>">
  							<a href="/today">
  							<i class="fa fa-envelope"></i>
  							Absents du jour </a>
  						</li>
              <li class="<%= (request.original_fullpath=='/justifications' ? 'active' : '') %>">
  							<a href="/justifications">
  							<i class="fa fa-question"></i>
  							Absences à justifier </a>
  						</li>
              <li class="<%= (request.original_fullpath=='/about' ? 'active' : '') %>">
  							<a href="/about">
  							<i class="fa fa-book"></i>
  							A propos </a>
  						</li>
  					</ul>
  				</div>
  				<!-- END MENU -->
  			</div>
  		</div>

      <div class="col-md-9 profile-content">
        <%  if current_user %>
          <%= yield %>
        <% else %>
          <div class="titre_actif">
            <h1>Connexion</h1>
          </div>
          <% @user_session = UserSession.new %>
          <%= render :template => 'user_sessions/new'  %>
        <% end %>
			</div>

  	</div>
  </div>

</body>
</html>
