<p id="notice"><%= notice %></p>

<div class="titre_actif">
  <h1>Absences à justifier</h1>
</div>

<div class="field input-group">
	<span class="input-group-addon">
    <%= link_to "/justifications/?year=#{@year-1}" do %>
      <i class="fa fa-arrow-left fa-fw"></i>
    <% end %>
  </span>
	<p align="center" class="form-control"><%= @year %></p>
	<% if @year<Date.today.year %>
    <span class="input-group-addon">
      <%= link_to "/justifications/?year=#{@year+1}" do %>
        <i class="fa fa-arrow-right fa-fw"></i>
      <% end %>
    </span>
	<% end %>
</div>

<table id="table1"
  data-toolbar="#toolbar1"
  data-search="true"
  data-show-columns="true"
  data-show-export="true"
  data-show-pagination-switch="true"
  data-pagination="true"
  data-page-list="[10, 25, 50, 100, ALL]"
  data-show-footer="false"
  data-toggle="table">
  <thead>
    <tr>
      <th data-align="left" data-valign="middle">Nom et prénom</th>
      <th data-align="center" data-valign="middle">Groupe physique</th>
      <th data-align="center" data-valign="middle">Groupe administratif</th>
      <th data-align="center" data-valign="middle">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @absences_injustifiees.each do |absence| %>
      <tr>
        <td><%= link_to absence.student.name, edit_absence_path(absence) %></td>
        <td><%= absence.physical_group.title %></td>
        <td><%= absence.administrative_group.title %></td>
        <td><%= absence.date.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
